[submodule "Python-Module-00"]
	path = Python-Module-00
	url = https://github.com/IIAydedeII/Python-Module-00.git
	branch = main
[submodule "Python-Module-01"]
	path = Python-Module-01
	url = https://github.com/IIAydedeII/Python-Module-01.git
	branch = main
[submodule "Python-Module-02"]
	path = Python-Module-02
	url = https://github.com/IIAydedeII/Python-Module-02.git
	branch = main
[submodule "Python-Module-03"]
	path = Python-Module-03
	url = https://github.com/IIAydedeII/Python-Module-03.git
	branch = main
