[submodule "Python-Module-00"]
	path = Python-Module-00
	url = https://github.com/IIAydedeII/Python-Module-00.git
	branch = main
[submodule "Python-Module-01"]
	path = Python-Module-01
	url = https://github.com/IIAydedeII/Python-Module-01.git
	branch = main
[submodule "Python-Module-02"]
	path = Python-Module-02
	url = https://github.com/IIAydedeII/Python-Module-02.git
	branch = main
[submodule "Python-Module-03"]
	path = Python-Module-03
	url = https://github.com/IIAydedeII/Python-Module-03.git
	branch = main
[submodule "Python-Module-04"]
	path = Python-Module-04
	url = https://github.com/IIAydedeII/Python-Module-04.git
	branch = main
[submodule "Python-Module-05"]
	path = Python-Module-05
	url = https://github.com/IIAydedeII/Python-Module-05.git
	branch = main
[submodule "Python-Module-06"]
	path = Python-Module-06
	url = https://github.com/IIAydedeII/Python-Module-06.git
	branch = main
[submodule "Python-Module-07"]
	path = Python-Module-07
	url = https://github.com/IIAydedeII/Python-Module-07.git
	branch = main
[submodule "Python-Module-08"]
	path = Python-Module-08
	url = https://github.com/IIAydedeII/Python-Module-08.git
	branch = main
[submodule "Python-Module-09"]
	path = Python-Module-09
	url = https://github.com/IIAydedeII/Python-Module-09.git
	branch = main
[submodule "Python-Module-10"]
	path = Python-Module-10
	url = https://github.com/IIAydedeII/Python-Module-10.git
	branch = main
